body {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}
img{
   width: 90%;
   max-width: 300px;
   margin: 0px auto 0px auto;
   display: block;
}
p{
    text-align: center;
}